rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthed() {
      return request.auth != null;
    }

    function isUser(user) {
      return request.auth.uid == user;
    }

    function isNow(time) {
      return request.time == time;
    }

    function userWaitedDuration() {
      return !exists(/databases/$(database)/documents/users/$(request.auth.uid))
        || (request.time.toMillis() - 1*1000) > get(/databases/$(database)/documents/users/$(request.auth.uid)).data.lastPlacementTime.toMillis();
    }

    match /users/{user} {
      allow read: if isAuthed() && isUser(user);
      allow write: if isAuthed() && isUser(user) && isNow(request.resource.data.lastPlacementTime);
    }

    function userWillBeUpdated() {
      return isNow(getAfter(/databases/$(database)/documents/users/$(request.auth.uid)).data.lastPlacementTime)
    }

    match /pixels/{pixel} {
      allow read: if true;
      allow create, update: if isAuthed()
        && isUser(request.resource.data.uid)
        && isNow(request.resource.data.placementTime)
        && userWaitedDuration()
        && userWillBeUpdated();
      allow delete: if false;
    }

    match /pixels/{pixel}/history/{pastPlacement} {
      allow read: if true;
      allow write: if false;
    }
  }
}